body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eee;
}

.body-div {
  -moz-border-radius: 5px;
  background-color: white;
  padding: 15px;
}

/*
.main-logo {
  background-image: url(../images/LanternLogo103x123.png);
  width: 103px;
  height: 123px;
  float: left;
}
*/

h1.page-title {
  margin-left: 25px;
  margin-bottom: 15px;
}

h3 {
  margin-top: 5px;
}

form {
  -moz-border-radius: 5px;
  background-color: white;
}

form.utility-form {
  float: right;
  clear: left;
}

label {
  margin-top: 10px;
  display: block;
  clear: both;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

input[type=text], textarea {
  background-color: #EFFFEF;
  -moz-border-radius: 5px;
  border: 2px solid #777;
  padding-left: 7px;
  padding-right: 7px;
  font-family: sans-serif;
  padding-top: 7px;
  font-weight: bold;
}

input[type=submit], input[type=button] {
  font-size: 1.2em;
  font-weight: bold;
}

fieldset {
  padding-left: 25px;
}

table {
  width: 100%;
}

th {
  background-color: #efefef;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.1em ;
}

tr.even {
  background-color: white;
}
tr.odd {
  background-color: #fafafa;
}

td, th {
  padding: 4px;
  padding-top: 6px;
  -moz-border-radius: 5px;
}

table.metadata {
  margin-top: 12px;
  border: 1px solid #ddd;
  padding: 5px;
  -moz-border-radius: 5px;
}

table.metadata th, table.metadata td {
  font-size: 0.8em;
}

.input-title {
  font-size: 1.3em;
  font-weight: bold;
}

.help {
  color: #777;
  border: 1px dotted #aaa;
  font-size: .8em;
  padding: 3px 4px 4px 3px;
}

.preview {
  color: #777;
  font-size: .8em;
  margin-top: 4px;
  margin-bottom: 4px;
}

.edit-journal-wrapper {
  /*width: 800px;*/
  border: 1px solid #efefef;
  padding: 5px;
}

.main-nav {
  /*float: right;*/
  position: fixed;
  right: 10px;
  top: 0px;
  background: #efefef;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
}

.main-nav > a {
  color: black;
  background-color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #FFF;
  border-right: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  -moz-border-radius: 5px;
}

.main-nav {
  margin-bottom: 15px;
  margin-top: 15px;
}